body
{
    background-color: #99ccff;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#container
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
h1
{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 36px;
    margin-top: 0;
    padding: 15px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 8px #000000;
}
ul > li
{
    display: inline-block;
    font-weight: 700;
    padding: 10px 30px;
    text-align: center;
    letter-spacing: 2px;
    border-right: 1px dashed #8a3729;
    transition: all 0.4s ease-in-out;
}
ul > li:first-child
{
    border-left: 1px dashed #8a3729;
}
ul > li:hover
{
    background-color: #fab1bc;
    color: black;
}
a
{
    color: white;
    text-decoration: none;
    transition: all 0.7s ease-in-out;
}
a:hover{
    color: #ccffe6;

}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}
th, td {
    background-color: #f8afba;
}
table
{
    width: 70%;
    height: 200px;
    font-size: 24px;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
}
tr:hover
{
    color: #e46a7f;
    cursor: pointer;
    text-shadow:2px 2px 4px #000000;
}
tr
{
    transition: all 0.7s;
    transition-timing-function: ease-in-out;
}
button{
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color:#599bb3;
    border-radius:28px;
    border:1px solid #6f94ad;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:10px 26px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
}
button:hover {
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color:#408c99;
}
button:active {
    position:relative;
    top:1px;
}
h2{
    display: flex;
    justify-content: center;
}
