// Table Styles
table.table
  width: 100%
  border-collapse: collapse
  margin-top: 15px

  th, td
    padding: 10px
    text-align: left


  thead
    background-color: #343a40 // Dark background color for table header
    color: white // Text color for table header

    th
      font-weight: bold




// Form Styles
form
  margin: 15px 0

  .form-group
    margin-bottom: 15px

    // Error Messages
    .alert.alert-danger
      color: #721c24
      background-color: #f8d7da
      border: 1px solid #f5c6cb
      border-radius: 0.25rem
      padding: 0.75rem 1.25rem
      margin-top: 5px



  // Submit Butto
  button.btn.btn-info
    background-color: #17a2b8
    color: white
    border: none
    padding: 10px 20px
    cursor: pointer

    &[disabled]
      background-color: #ccc
      cursor: not-allowed




// Title Styles
.card-title
  color: white


// Navigation Styles
ul.list-inline
  list-style: none
  padding: 0
  margin: 0

  li
    display: inline
    margin-right: 10px

    // Buttons in Navigation
    .btn.btn-info
      background-color: #17a2b8
      color: white
      text-decoration: none
      padding: 10px 20px
      border: none
      cursor: pointer

      &:hover
        background-color: #138496 // Hover color




// Background for the entire container
.container
  background-color: #343a40
  padding: 20px
  border-radius: 10px
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)

  // Card Styles
  .card
    background-color: #ffffff
    border: 1px solid #ffffff
    border-radius: 5px
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)


