<!--<div id="container">
  <header>
    <h1>System rezerwacji wizyt domowych</h1>
    <nav>
      <div id="nav">
          <ul>
            <li><a routerLink="/" class="custom-link">Strona główna</a></li>
            <li><a routerLink="/Informacje dla pacjenta" class="custom-link">Informacje dla pacjenta</a></li>
            <li><a routerLink="/O nas" class="custom-link">Kontakt</a></li>
            <li><a routerLink="/Kontakt" class="custom-link">O nas</a></li>
          </ul>
      </div>
    </nav>
  </header>
  <main>
    <app-jsmap
      [zoom]="zoom"
      [lat]="lat"
      [lng]="lng"
      (notify)="handleMapChange($event)"
    ></app-jsmap>
    <app-mapposition
      [zoom]="zoom"
      [lat]="lat"
      [lng]="lng"
      (notify)="handleInputChange($event)"
    ></app-mapposition>
  </main>
  <footer>
    <p>&copy; Wszelkie prawa zastrzeżone</p>
  </footer>
</div>-->
<mat-card>
  <mat-card-title>Home Visits</mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" #patientForm="ngForm">
      <mat-form-field>
        <mat-label for="id">Name</mat-label>
        <input type="text" [(ngModel)]="patient.name"
               name="name"
               matInput placeholder="Enter your name">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Surname</mat-label>
        <input type="text" [(ngModel)]="patient.surname"
               name="surname"
               matInput placeholder="Enter your surname">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input type="text" [(ngModel)]="patient.phoneNumber"
               name="phoneNumber"
               matInput placeholder="Enter your phone number">
      </mat-form-field>

      <mat-form-field>
        <mat-label>PESEL</mat-label>
        <input type="text" [(ngModel)]="patient.pesel"
               name="pesel"
               matInput placeholder="Enter your PESEL">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="text" [(ngModel)]="patient.email"
               name="email"
               matInput placeholder="Enter your email" type="email">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Address</mat-label>
        <input type="text" [(ngModel)]="patient.address"
               name="address"
               matInput placeholder="Enter your address">
      </mat-form-field>

      <!--<input matInput type="date" [(ngModel)]="patient.birthDate"
             name="date"
             [matDatepicker]="picker"
             placeholder="Enter birth date">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>-->

      <mat-form-field>
        <mat-label>Importance of Visit</mat-label>
        <mat-select [(ngModel)]="patient.importance" name="importance">
          <mat-option value="minor">Minor</mat-option>
          <mat-option value="medium">Medium</mat-option>
          <mat-option value="strict">Strict</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Doctor's Specialization</mat-label>
        <mat-select [(ngModel)]="patient.specialization" name="specialization">
          <mat-option value="Anestezjologia">Anestezjologia</mat-option>
          <mat-option value="Dermatologia i wenerologia">Dermatologia i wenerologia</mat-option>
          <mat-option value="Diabetologia">Diabetologia</mat-option>
          <mat-option value="Fizjoterapia">Fizjoterapia</mat-option>
          <mat-option value="Internista">Internista</mat-option>
          <mat-option value="Kardiologia">Kardiologia</mat-option>
          <mat-option value="Masaż mobilny">Masaż mobilny</mat-option>
          <mat-option value="Medycyna rodzinna">Medycyna rodzinna</mat-option>
          <mat-option value="Pediatria">Pediatria</mat-option>
          <mat-option value="Psychiatria">Psychiatria</mat-option>
          <mat-option value="Radiologia i diagnostyka obrazowa">Radiologia i diagnostyka obrazowa</mat-option>
          <mat-option value="Stomatolog">Stomatolog</mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field>
        <mat-label>Comments</mat-label>
        <textarea [(ngModel)]="patient.comments" name="comments"
                  matInput placeholder="Write your comments here"></textarea>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
  </mat-card-content>
</mat-card>








