<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-12">-->
<!--      <div class="card bg-dark my-5">-->
<!--        <div class="card-body">-->
<!--          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>-->
<!--          <ul class="text-center list-inline py-3">-->
<!--            <li class="list-inline-item">-->
<!--              <a routerLink="/doctors" class="btn btn-info">List Doctors</a>-->
<!--            </li>-->
<!--            <li class="list-inline-item">-->
<!--              <a routerLink="/addDoctor" class="btn btn-info">Add Doctor</a>-->
<!--            </li>-->
<!--            <li class="list-inline-item">-->
<!--              <a routerLink="/maptiles" class="btn btn-info">Show Map</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--      <router-outlet></router-outlet>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!-- app.component.html -->
<div id="container">
  <header>
    <h1>System rezerwacji wizyt domowych</h1>
    <nav>
      <div id="nav">
          <ul>
            <li><a routerLink="/" class="custom-link">Strona główna</a></li>
            <li><a routerLink="/Informacje dla pacjenta" class="custom-link">Informacje dla pacjenta</a></li>
            <li><a routerLink="/O nas" class="custom-link">Kontakt</a></li>
            <li><a routerLink="/Kontakt" class="custom-link">O nas</a></li>
          </ul>
      </div>
    </nav>
  </header>
  <main>
    <app-jsmap
      [zoom]="zoom"
      [lat]="lat"
      [lng]="lng"
      (notify)="handleMapChange($event)"
    ></app-jsmap>
    <app-mapposition
      [zoom]="zoom"
      [lat]="lat"
      [lng]="lng"
      (notify)="handleInputChange($event)"
    ></app-mapposition>
  </main>
  <footer>
    <p>&copy; Wszelkie prawa zastrzeżone</p>
  </footer>
</div>



