<form id="dataForm" (submit)="onSubmit($event)">
  <div>
    Zoom:
    <input
      (change)="notify.emit($event)"
      name="zoom"
      type="number"
      [value]="zoom"
    />
  </div>
  <div>
    Latitude:
    <input
      (change)="notify.emit($event)"
      name="lat"
      type="number"
      [value]="lat"
    />
  </div>
  <div>
    Longitude:
    <input
      (change)="notify.emit($event)"
      name="lng"
      type="number"
      [value]="lng"
    />
  </div>
  <div>
    Wybierz opcję pilności wizyty:
    <select name="option">
      <option value="Minor">Niepilna</option>
      <option value="Medium">Średniopilna</option>
      <option value="Urgent">Pilna</option>
      [value]="importance"
      type="Importance"
    </select>
  </div>
  <button type="submit">Submit</button>
</form>
