<mat-card>
  <mat-card-title>Home Visits</mat-card-title>
  <div class="container-div">
  <div class="forms">
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" #patientForm="ngForm" class="form-container">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input type="text" [(ngModel)]="appointment.patient.name"
               name="name" autocomplete="name"
               matInput placeholder="Enter your name">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Surname</mat-label>
        <input type="text" [(ngModel)]="appointment.patient.surname"
               name="surname" autocomplete="name"
               matInput placeholder="Enter your surname">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input type="text" [(ngModel)]="appointment.patient.phoneNumber"
               name="phoneNumber"
               matInput placeholder="Enter your phone number">
      </mat-form-field>

      <mat-form-field>
        <mat-label>PESEL</mat-label>
        <input type="text" [(ngModel)]="appointment.patient.pesel"
               name="pesel"
               matInput placeholder="Enter your PESEL">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="text" [(ngModel)]="appointment.patient.email"
               name="email" autocomplete="email"
               matInput placeholder="Enter your email" type="email">
      </mat-form-field>
      <mat-label>Address</mat-label>
      <mat-form-field>
        <mat-label>City</mat-label>
        <input type="text" [(ngModel)]="patient.address.city"
               name="city"
               matInput placeholder="Enter your city">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Zip Code</mat-label>
        <input type="text" [(ngModel)]="patient.address.zipCode"
               name="zipCode"
               matInput placeholder="Enter your zip code">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Street</mat-label>
        <input type="text" [(ngModel)]="patient.address.street"
               name="street"
               matInput placeholder="Enter your street">
      </mat-form-field>
      <mat-form-field>
        <mat-label>House Number</mat-label>
        <input type="number" [(ngModel)]="patient.address.houseNumber"
               name="houseNumber"
               matInput placeholder="Enter your house number">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Flat Number</mat-label>
        <input type="number" [(ngModel)]="patient.address.flatNumber"
               name="flatNumber"
               matInput placeholder="Enter your flat number">
      </mat-form-field>

      <input [formControl]="dateOfBirth" matInput
             [matDatepicker]="picker"
             placeholder="Enter birth date"
             name="date">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>

      <mat-form-field>
        <mat-select [(ngModel)]="appointment.importance" name="importance">
          <mat-option value="MINOR">Minor</mat-option>
          <mat-option value="MEDIUM">Medium</mat-option>
          <mat-option value="URGENT">Urgent</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select [(ngModel)]="appointment.specialization" name="specialization">
          <mat-option value="Anestezjologia">Anestezjologia</mat-option>
          <mat-option value="Dermatologia i wenerologia">Dermatologia i wenerologia</mat-option>
          <mat-option value="Diabetologia">Diabetologia</mat-option>
          <mat-option value="Fizjoterapia">Fizjoterapia</mat-option>
          <mat-option value="Internista">Internista</mat-option>
          <mat-option value="Kardiologia">Kardiologia</mat-option>
          <mat-option value="Masaż mobilny">Masaż mobilny</mat-option>
          <mat-option value="Medycyna rodzinna">Medycyna rodzinna</mat-option>
          <mat-option value="Pediatria">Pediatria</mat-option>
          <mat-option value="Psychiatria">Psychiatria</mat-option>
          <mat-option value="Radiologia i diagnostyka obrazowa">Radiologia i diagnostyka obrazowa</mat-option>
          <mat-option value="Stomatolog">Stomatolog</mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field>
        <mat-label>Comments</mat-label>
        <textarea [(ngModel)]="appointment.comments" name="comments" type="text"
                  matInput placeholder="Write your comments here"></textarea>
      </mat-form-field>

      <div class="buttonDiv"><button class="myButton" mat-raised-button color="primary" type="submit">Submit
      </button></div>
    </form>
  </mat-card-content>
  </div>
  <div class="description">
    <span>Welcome to HomeVisit, the premier solution for scheduling professional medical visits
      in the comfort of your home. Our platform bridges the gap between patients and healthcare providers,
      offering a seamless, secure, and convenient way to ensure you receive the care you need without leaving
      your doorstep.
      In today’s fast-paced world, finding time for health check-ups can be a challenge.
      HomeVisit is here to revolutionize the way you access medical services,
      by bringing the expertise of qualified doctors directly to you. Whether you need a routine consultation,
      ongoing treatment, or a specialist's opinion, our app connects
      you with experienced healthcare professionals across a wide range of medical fields.<br><br></span>
    <span>Here's how it works: Start by filling out a simple form detailing your medical needs and preferences,
      then click submit to proceed. Upon submission, you'll be presented with a list of available doctors
      tailored to your specific requirements. Choose the doctor that best fits your needs and submit your
      choice.<br><br></span>
    <span>After your submission, all you need to do is wait for a confirmation from the selected doctor
      to finalize the visit. Once confirmed, you'll gain access to a real-time map
      showcasing the doctor's current location and estimated time of arrival at your doorstep.<br><br></span>
    <span>Get started now to schedule your home visit and experience healthcare redefined,
      where convenience and care meet.
      <br><br>
    </span>
  </div>
  </div>
</mat-card>
<!--
    <app-jsmap
      [zoom]="zoom"
      [lat]="lat"
      [lng]="lng"
      (notify)="handleMapChange($event)"
    ></app-jsmap>
    <app-mapposition
      [zoom]="zoom"
      [lat]="lat"
      [lng]="lng"
      (notify)="handleInputChange($event)"
    ></app-mapposition>-->








